$main-hero-bg-color:        #ffb8ca;    // основной цвет фона героя //
$second-bg-color:           #fff5f6;    // цвет фона футера //
$menu-bg-color:             #e17992;    // цвет фона бургера меню //
$main-text-color:           #000000;    // основной цвет текста и  коментов //
$second-text-color:         #907e82;    // цвет второпланового текста //
$text-title-color:          #d41443;    // тематически розовій цвет сайта //
$second-hero-bg-color:      #ffa5ba;    // воторой цвет фона героя и претайтла в секциях //
$button-second-color:       #c7133e;    // ховер цвет кнопки в хедере //
$contacts-button-color:     #d41342;    // цвет кнопки в секции контакта //
$contacts-button-hover:     #ecebeb;    // ховер цвета кнопки в секции контакта //
$bg-color-product-second:   #f0d1a5;    // бєкграунд секции продактс //
$bg-color-product-third:    #c2e297;    // бєкграунд секции продактс //
$comment-bg-color:          #fafafa;    // цвет секции коментариев //
$comment-second-color:      #d9d9d9;    //
$socials-bg-color:          #fea5bb;    // цвет секции комент домиков //
$border-color:              #e1e1e1;    // подчеркивание в секции комент //