$main-hero-bg-color: #ffb8ca;
$second-bg-color: #fff5f6;
$menu-bg-color: #e17992;
$main-text-color: #000000;
$second-text-color: #907e82;
$text-title-color: #d41443;
$second-hero-bg-color: #ffa5ba;
$button-second-color: #c7133e;
$contacts-button-color: #d41342;
$contacts-button-hover: #ecebeb;
$bg-color-product-second: #f0d1a5;
$bg-color-product-third: #c2e297;
$comment-bg-color: #fafafa;
$comment-second-color: #d9d9d9;
$socials-bg-color: #fea5bb;
$border-color: #e1e1e1;