<section class="about">
    <div class="container">
        <p class="about-preheading">tradition and love</p>
        <h2 class="about-heading">how it’s made?</h2>
        <div class="about-main">
            <img class="about-img" srcset="../src/images/about-dev/cow-desck-1x-min.png 1x, ../src/images/about-dev/cow-desck-2x-min.png 2x" src="../src/images/about-dev/cow-desck-1x-min.png" alt="Picture of a cow." width="280">
            <div class="about-text">
                <p class="about-primary-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-seckondary-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. </p>
                <p class="about-seckondary-text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about-btn btn">Read more
                    <svg class="about-btn-icon">
                        <use href="./images/sprite.svg#icon-button-vektor"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>