<section class="advantages id="advantages">
  <div class="container">
    <h2 class="title__hidden">Advantages</h2>
    <ul class="adv__list">
      <li class="adv__item bucket">
        721
        <span class="adv__item--text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="adv__item apples">
        16kg
        <span class="adv__item--text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
      <li class="adv__item lollipop">
        84
        <span class="adv__item--text"
          >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
        >
      </li>
    </ul>
  </div>
</section>
