<section class="contacts">
    <div class="container contacts-container">
        <h2 hidden class="" id="contacts">Contacts</h2>
        <div class="cont">
            <div class="address">
                <p class="contacts-categories">CAFE</p>
                <h2 class="contacts-city">Chicago</h2>
                <p class="contacts-about line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list time">
                    <li>
                        <p class="contacts-working-days">Monday - Friday</p>
                        <p class="contacts-working-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts-working-days contacts-working-weekends">Saturday - Sunday</p>
                        <p class="contacts-working-hours contacts-weekend-hours line">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="contacts-links list">
                    <li><a href="tel:+61(0)383766284" class="contacts-tel link ">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contacts-mail link">noreply@envato.com</a></li>
                </ul>
            </div>
            <div class="address">
                <p class="contacts-categories foodtruck">foodtruck</p>
                <h2 class="contacts-city">Los Angeles</h2>
                <p class="contacts-about line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list time">
                    <li>
                        <p class="contacts-working-days">Monday - Friday</p>
                        <p class="contacts-working-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts-working-days contacts-working-weekends">Saturday - Sunday</p>
                        <p class="contacts-working-hours contacts-weekend-hours line ">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="contacts-links list">
                    <li><a href="tel:+61(0)383766284" class="contacts-tel link">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contacts-mail link">noreply@envato.com</a></li>
                </ul>
            </div>
            <div class="address">
                <p class="contacts-categories">CAFE</p>
                <h2 class="contacts-city">New York</h2>
                <p class="contacts-about line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="list time">
                    <li>
                        <p class="contacts-working-days">Monday - Friday</p>
                        <p class="contacts-working-hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts-working-days contacts-working-weekends">Saturday - Sunday</p>
                        <p class="contacts-working-hours contacts-weekend-hours line">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <ul class="contacts-links list">
                    <li><a href="tel:+61(0)383766284" class="contacts-tel link">+61(0) 383 766 284</a></li>
                    <li><a href="mailto:noreply@envato.com" class="contacts-mail link">noreply@envato.com</a></li>
                </ul>
            </div>
        </div>
        <div class="contacts-buttons">
            <ul class="contacts-buttons-list list">
                <li class="contacts-button-item"><button type="button" class="contacts-button btn" data-modal-open>Our
                        Locations<svg class="about-btn-icon1">
                            <use href="./images/sprite.svg#icon-button-vektor"></use>
                        </svg></button></li>
                <li class="contacts-button-item"><button type="button" class="contacts-button2 btn"
                        data-modal-open>Franchise<svg class="about-btn-icon">
                            <use href="./images/sprite.svg#icon-button-vektor"></use>
                        </svg></button></li>

            </ul>

        </div>
    </div>
</section>