<footer id="footer" class="footer">
  <div class="container footer__content">
    <div class="footer__title">
      <p class="footer__title-main">homemade ice cream made</p>
      <p class="footer__title-second">with passion</p>
    </div>
    <div class="footer__soc">
      <ul class="soc-list">
        <li class="soc-list__item">
          <a href="https://github.com/Alf-540/kiss" target="_blank" class="soc-list__link">
            <svg class="social-list__icon" width="20" height="20">
              <use href="images/sprite.svg#icon-git"></use>
            </svg>
          </a>
        </li>
        <li class="soc-list__item">
          <a href="https://web.telegram.org/" target="_blank" class="soc-list__link">
            <svg class="social-list__icon" width="20" height="20">
              <use href="images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-list__item">
          <a href="https://www.facebook.com/" target="_blank" class="soc-list__link">
            <svg class="social-list__icon" width="20" height="20">
              <use href="images/sprite.svg#icon-facebook"> </use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__contact-connect">Feel free to contact<a href="tel:+380961111111" class="footer__contact-tel">+61
          (0) 383 766 284</a></p>
    </div>
  </div>
  <p class="copy-text">&copy; 2021 - IceCream. All Rights Reserved.</p>
</footer>