<footer id="footer" class="footer">
  <div class="container"></div>
  <p class="">homemade ice cream made<span class="">with passion</span></p>
  <div class=""></div>
  <ul class="">
    <li class="">
      <a href="#" class="">
        <svg class="" width="20" height="20">
          <use href=""></use>
        </svg>
      </a>
    </li>
    <li class="">
      <a href="#" class="">
        <svg class="" width="20" height="20">
          <use href=""></use>
        </svg>
      </a>
    </li>
    <li class="">
      <a href="#" class="">
        <svg class="" width="20" height="20">
          <use href=""></use>
        </svg>
      </a>
    </li>
    </div>
    <div class="">
      <a href="tel:+380961111111"></a><span>+61 (0) 383 766 284</span></a>
    </div>
    <div class="copyright">
      <p class="copy-text">&copy; 2021 - IceCream <span>All Rights Reserved.</span></p>
    </div>
    </div>
</footer>