<section class="gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
        <img class="gallery-img" src="../src/images/gallery/gallery-des-1x.png" alt="set of pictures" width="1280"
            height="430px">
        <source media="(min-width: 1200px)"
            srcset="../src/images/gallery/gallery-des-1x.png 1x, ../src/images/gallery/gallery-des-2x.png 2x">
        <source media="(min-width: 768px)"
            srcset="../src/images/gallery/gallery-tab-1x.png 1x, ../src/images/gallery/gallery-tab-2x.png 2x">
        <source media="(320px)"
            srcset="../src/images/gallery/gallery-mob-1x.png 1x, ../src/images/gallery/gallery-mob-2x.png 2x">
    </picture>
</section>