<div class="backdrop-modal is-hidden " data-hero>
    <div class="about-modal modal-hero-padding">
        <button type="button" class="about-close-btn" data-hero-close>
            <svg class="about-close-svg">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <form action="#" class="modal-form">
            <div class="modal-field">
                <label for="user-name" class="modal-label">Name</label>
                <span class="input-wrapper">
                    <input type="text" name="user-name" id="user-name" class="modal-input">
                </span>
            </div>
            <div class="modal-field">
                <label for="user-tel" class="modal-label">Phone</label>
                <span class="input-wrapper">
                    <input type="tel" name="user-tel" id="user-tel" class="modal-input">
                </span>
            </div>
            <div class="modal-field">
                <label for="user-email" class="modal-label">Email</label>
                <span class="input-wrapper">
                    <input type="email" name="user-email" id="user-email" class="modal-input">
                </span>
            </div>
            <div class="modal-field">
                <label for="user-email" class="modal-label">Address</label>
                <span class="input-wrapper">
                    <input type="address" name="user-address" id="user-addres" class="modal-input">
                </span>
            </div>
            <div class="modal-comment">
                <label for="user-comment" class="modal-label">Order</label>
                <textarea name="comment" id="user-comment" placeholder="Write your order. We will contact you." class="modal-text"></textarea>
            </div>
            <button type="submit" class="about-btn send-btn btn">Send</button>
        </form>
    </div>
</div>