<header class="header">
  <div class="section header-section">
    <div class="container">
      <div class="header-menu-block">
        <div class="header_logo">
          <a href="index.html" class="header-logo">
            <img src="/images/hero/logo.png" alt="logo"
          /></a>
          <!-- <div class="header-burger"> -->
          <div class="header_menu-content">
            <ul class="header_navi-list list">
              <li class="header_navi-item">
                <a class="header_navi-link link" href="index.html">Home</a>
              </li>
              <li class="header_navi-item">
                <a class="header_navi-link link" href="#about">About us</a>
              </li>
              <li class="header_navi-item">
                <a class="header_navi-link link" href="#advantages">How it’s made?</a>
              </li>
              <li class="header_navi-item">
                <a class="header_navi-link link" href="#products">Our products</a>
              </li>
              <li class="header_navi-item">
                <a class="header_navi-link link" href="#contacts">Contacts</a>
              </li>
            </ul>
          </div>
          <button
            class="header-burger__button js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg width="20" height="12">
              <use href="/images/sprite.svg#icon-Burger"></use>
            </svg>
          </button>
          <div class="header-buy-btn btn">
            <p class="header-btn-buy-text">Buy now</p>
          </div>
        </div>
      </div>
      <div class="header-title-block">
        <h1 class="header-title">ice cream made with <span class="passion">passion</span></h1>
      </div>
      <!-- </div> -->
      <div class="header-btn_block">
        <ul class="header-btn-item list">
          <li>
            <button class="header-btn_prod btn">
              <a class="link" href="#products">Products</a>
            </button>
          </li>
          <li>
            <button class="header-btn_how btn">
              <a class="link" href="#advantages">How it’s made?</a>
            </button>
          </li>
        </ul>
      </div>
      <!-- <div class="header-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </div> -->
      <div class="header-ice-cream">
        <picture>
          <source
            srcset="
              /images/hero/hero-icecream-des-1x.png 1x,
              /images/hero/hero-icecream-des-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /images/hero/hero-icecream-tab-1x.png 1x,
              /images/hero/hero-icecream-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /images/hero/hero-icecream-mob-1x.png 1x,
              /images/hero/hero-icecream-mob-2x.png 2x
            "
            media="(min-width:480px)"
          />
          <img src="/images/hero/hero-icecream-mob-1x.png" alt="Big Photo Ice Cream" />
        </picture>
        <picture>
          <source
            srcset="/images/hero/hero-girl-des-1x.png 1x, /images/hero/hero-girl-des-2x.png 2x"
            media="(min-width:1280px)"
            width="293"
            height="232"
          />
          <source
            srcset="/images/hero/hero-girl-tab-1x.png 1x, /images/hero/hero-girl-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <img src="/images/hero/hero-girl-des-1x.png" alt="girl" class="header-img-girl" />
        </picture>
      </div>
      <div class="hero-milk">
        <picture>
          <source
            srcset="/images/hero/hero-milk-des-1x.png 1x, /images/hero/hero-milk-des-1x.png 2x"
            media="(min-width:1280px)"
          />
          <source
            srcset="/images/hero/hero-milk-tab-1x.png 1x, /images/hero/hero-milk-tab-1x.png 2x"
            media="(min-width:768px)"
          />
          <img src="/images/hero/hero-milk-des-1x.png" alt="milk" />
        </picture>
      </div>
      <div class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </div>
      <!-- <div class="hero-arrow-btn"> -->
      <button type="button" class="hero-arrow-btn"></button>
      <picture>
        <source svg class="ellips" width="538" height="538" media="(min-width:1280px)" />
        <use href="/images/sprite.svg#icon-Ellips-des"></use>
        <source />
      </picture>
      <div class="header-cafetracks">
        <ul class="list cafetrucks-list">
          <li class="cafetrucks-list__item">
            <p class="cafetrucks-list__number">16</p>
            <span class="cafetrucks-list__text cafetrucks-list__text--padding">cafes</span
            ><span class="cafetrucks-list__cicrcle"></span>
          </li>
          <li class="cafetrucks-list__item">
            <p class="cafetrucks-list__number">23</p>
            <span class="cafetrucks-list__text">food trucks</span
            ><span class="cafetrucks-list__cicrcle"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mob-menu js-menu-container" id="mobile-menu">
    <button type="button" class="menu-close-btn js-close-menu" data-menu-close>
      <svg width="14" height="14">
        <use href="/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mobile-menu">
      <div class="header-menu-btn btn">
        <p class="header-btn-buy-text">Buy now</p>
      </div>
      <div class="mob-menu-content">
        <ul class="mob-menu-list list">
          <li class="mob-menu-item">
            <a class="link" href="./index.html">Home</a>
          </li>
          <li class="mob-menu-item">
            <a class="link" href="#about">About us</a>
          </li>
          <li class="mob-menu-item">
            <a class="link" href="#advantages">How it’s made?</a>
          </li>
          <li class="mob-menu-item">
            <a class="link" href="#products">Our products</a>
          </li>
          <li class="mob-menu-item">
            <a class="link" href="#contacts">Contacts</a>
          </li>
          <li class="mob-menu-item">
            <a class="link"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <script src="/js/menu.js"></script> -->
</header>
