<header>
  <div class="container">
    <div class="section header">
      <div class="header_logo">
        <a href="index.html" class="header-logo"> <img src="/images/logo.png" alt="logo" /></a>
        <!-- <div class="header-burger"> -->
        <button class="header-burger__button">
          <svg width="20" height="12">
            <use href="/images/sprite.svg#icon-Burger"></use>
          </svg>
        </button>
        <div class="header-title-block">
          <h1 class="header-title">ice cream made with <span class="passion">passion</span></h1>
        </div>
        <!-- </div> -->
      </div>
      <div class="header-btn_block">
        <ul class="header-btn-item list">
          <li>
            <button class="header-btn_prod">products</button>
          </li>
          <li>
            <button class="header-btn_how">How it’s made?</button>
          </li>
        </ul>
      </div>
      <div class="header-ice-cream">
        <img
          src="/images/ice-cream-header-mob.png"
          alt="Big Photo Ice Cream"
          width="171"
          height="410"
        />
      </div>
      <div class="elips">
        <img src="/images/Ellipse-3.png" alt="Elips" />
      </div>
    </div>
  </div>
</header>
