<section class="products products-container" id="products">
  <div class="container">
    <p class="products-subtitle">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-list">
      <li class="products-list__item products-list__item--pink">
        <h3 class="products-list__title">ice cream</h3>
        <div class="description-wrapper">
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p
            class="
              products-list__description
              products-list__secondary-text
              products-list__secondary-text--pink
              products-list__secondary-text--hidden
            "
            data-modal
          >
            Strawberry is a complete blend to create an excellent strawberry-flavored ice cream.
            Without milk derivatives.
          </p>
          <button
            type="button"
            class="products-list-button products-list-button--pink"
            data-modal-open
          ></button>
        </div>
      </li>
      <li class="products-list__item products-list__item--beige">
        <h3 class="products-list__title">ice coffee</h3>
        <div class="description-wrapper">
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p
            class="
              products-list__description
              products-list__secondary-text
              products-list__secondary-text--beige
              products-list__secondary-text--hidden-beige
            "
            data-modal-beige
          >
            A velvety smooth blend of vanilla flavor with bold espresso and creamy milk – made with
            nonfat milk and no sugar added.
          </p>
          <button
            type="button"
            class="products-list-button products-list-button--beige"
            data-modal-open-beige
          ></button>
        </div>
      </li>
      <li class="products-list__item products-list__item--green">
        <h3 class="products-list__title">milkshakes</h3>
        <div class="description-wrapper">
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
          </p>
          <p
            class="
              products-list__description
              products-list__secondary-text
              products-list__secondary-text--green
              products-list__secondary-text--hidden-green
            "
            data-modal-green
          >
            A range of powder bases dedicated to Milkshakes, an alternative product to ice cream for
            your customers.
          </p>
          <button
            type="button"
            class="products-list-button products-list-button--green"
            data-modal-open-green
          ></button>
        </div>
      </li>
    </ul>
  </div>
</section>
