.mob-menu {
  height: 503px;
  width: 250px;
  background-color: #e17992;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  padding-top: 60px;
}
a {
  color: inherit;
}
.header-menu-btn {
  height: 44px;
  width: 209px;
  border: none;
  border-radius: 22px;
  background-color: #fff;
  // margin-right: 9px;
  right: 21px;
  top: 60px;
  margin-bottom: 32px;
  margin-left: 21px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  //   @media screen and (min-width: 768px) {
  //     position: absolute;
  //     top: 38px;
  //     z-index: 2;
  //   }
}
.mob-menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  // margin-bottom: 24px;
  border-top: 1px solid #e18298;
  padding: 10px 0px 10px 21px;
  transition: color 300ms linear;
}
.mob-menu-item :hover,
.mob-menu-item :focus {
  color: #d41443;
}
.menu-close-btn {
  background: transparent;
  border: none;
  display: block;
  //   margin-left: auto;
  position: absolute;
  top: 23px;
  right: 27px;
}
