.mobile-menu {
  height: 100%;
  width: 80%;
  background-color: #e17992;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 60px;
  z-index: 10;
  @media screen and (min-width: 768px) {
    width: 40%;
  }
  @media screen and (max-width: 1279px) {
    &.is-open {
      transform: translateX(0);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 1;
    }
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

a {
  color: inherit;
}
.header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 44px;
  width: 209px;
  border: none;
  border-radius: 22px;
  background-color: #fff;
  text-align: center;
  padding: 12px;
  font-size: 16px;
  color: #d41443;
  font-weight: 700;
  transition: color 250ms linear;
  margin-bottom: 32px;
  cursor: pointer;
  &:hover,
  &:focus {
    background: #ecebeb;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header-menu-btn :hover,
.header-menu-btn :focus {
  border: none;
  border-radius: 22px;
  background-color: #ecebeb;
}

.mob-menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  // margin-bottom: 24px;
  border-top: 1px solid #e18298;

  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: calc((21 / 250 * 100%));
  transition: color 300ms linear;
}

.mob-menu-item :hover,
.mob-menu-item :focus {
  color: #d41443;
}

.menu-close-btn {
  background: transparent;
  border: none;
  display: block;
  //   margin-left: auto;
  position: absolute;
  top: 23px;
  right: 27px;
  cursor: pointer;
  fill: #ffffff;
  &:hover,
  &:focus {
    fill: #d41443;
  }
}

// .menu-close-btn :hover,
// .menu-close-btn :focus {
//   fill: #d41443;
// }

.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}
