.title__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.bg__color {
  background-color: $second-bg-color;
}
.adv__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.adv__item {
  color: $text-title-color;
  font-family: Titan One;
  font-style: Regular;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  &:not(:last-child) {
    margin-bottom: 38px;
  }
}
.adv__item--text {
  display: block;
  color: $main-text-color;
  font-family: DM Sans;
  font-style: Bold;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.04em;
}
.adv__item::before {
  content: '';
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.bucket::before {
  background-image: url(../src/images/advantages/advantages-bucket.png);
}
.apples::before {
  background-image: url(../src/images/advantages/advantages-apples.png);
}
.lollipop::before {
  background-image: url(../src/images/advantages/advantages-lollipop.png);
}
