.list {
  list-style: none;
}
.contacts-categories {
  font-family: DM Sans;
  font-style: normal;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  justify-content: center;
  color: #ffffff;
  background: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  cursor: pointer;
  border-style: none;
  margin-bottom: 25px;
  margin-top: 0;
  height: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    font-size: 16px;
    height: 28px;
    width: 73px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
      font-size: 16px;
      height: 28px;
      width: 73px;
    }
  }
}
.foodtruck {
  background: #c2e297;
  width: 130px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    height: 28px;
    width: 138px;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      height: 28px;
      width: 138px;
    }
  }
}
.contacts-city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  letter-spacing: 0.04em;

  color: #000000;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-size: 14px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}
.contacts-about {
  font-family: DM Sans;
  font-style: normal;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}
.line::after {
  content: '';

  width: 179px;
  display: block;
  border: 1px solid #e1e1e1;
  margin-top: 25px;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    width: 157px;
    @media screen and (min-width: 1280px) {
      margin-top: 32px;
      width: 234px;
    }
  }
}
.time {
  padding-left: 0;
}
.contacts-working-days {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */

  color: #000000;

  margin-top: 25px;

  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    font-size: 14px;
    @media screen and (min-width: 1280px) {
      margin-top: 32px;
      font-size: 16px;
    }
  }
}
.contacts-working-weekends {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-top: 16px;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      margin-top: 15px;
    }
  }
}
.contacts-weekend-hours {
  position: relative;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}
.contacts-working-hours {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  color: #ffa5ba;
  margin-top: 0;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}
.contacts-links {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #907e82;
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 0;

    @media screen and (min-width: 1280px) {
      margin-top: 32px;
      margin-bottom: 0;
    }
  }
}
.contacts-tel {
  color: #907e82;
  &:hover {
    color: #d41443;
  }
  &:focus {
    color: #d41443;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    display: block;
    padding-bottom: 10px;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}
.contacts-mail {
  color: #907e82;
  &:hover {
    color: #d41443;
  }
  &:focus {
    color: #d41443;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-top: 10px;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}

.address {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 21px;
  width: 220px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      margin-left: 20px;
    }
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 32px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    &:not(:first-child) {
      margin-left: 29px;
    }
    padding-bottom: 62px;
    padding-left: 44px;
    padding-right: 43px;
    width: 330px;
    margin-bottom: 0;
  }
}
.contacts-buttons {
  margin-top: 54px;
  @media screen and (min-width: 768px) {
    margin-top: 81px;
    @media screen and (min-width: 1280px) {
      margin-top: 86px;
    }
  }
}

.contacts-button {
  padding-top: 19px;
  padding-bottom: 17px;
  padding-right: 17px;
  padding-left: 18px;
  background: #d41342;
  border-radius: 22px;
  border: none;
  position: relative;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  height: 44px;
  margin-bottom: 10px;
  margin-left: 29px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 35px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 36px;
    padding-left: 35px;
  }
}
.contacts-button2 {
  padding-top: 19px;
  padding-bottom: 17px;
  padding-right: 32px;
  padding-left: 32px;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  position: relative;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  display: flex;
  align-items: center;
  text-align: center;
  height: 44px;
  margin-left: 29px;

  color: #d41443;
  &:hover {
    background: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    margin-left: 0;
    padding-left: 38px;
    padding-right: 39px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 39px;
    padding-right: 40px;
  }
}
.contacts-button-item {
  margin-bottom: 10px;
  justify-content: center;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    &:not(:first-child) {
      margin-left: 15px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 0;
    }
  }
}
.contacts-buttons-list {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 56px;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 73px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    padding-bottom: 80px;
    justify-content: center;
  }
}
.cont {
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts {
  @media screen and (min-width: 1280px) {
    display: flex;

    justify-content: center;
    @media screen and (min-width: 1280px) {
      background-image: url(../images/contacts/contacts-1x.png);
      background-repeat: no-repeat;
      background-position-y: 102px;

      background-size: contain;
    }
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/contacts/contacts-2x.png);
  }
}

.about-btn-icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  width: 8px;
  height: 10px;
  fill: #ffffff;
}
.contacts {
  background-image: linear-gradient(to bottom, #ffffff 5%, #fff5f6 5%);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 10%, #fff5f6 0%);
  }
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(to bottom, #ffffff 0%, #fff5f6 0%);
  }
  @media screen and (min-width: 1280px) {
    display: flex;

    justify-content: center;
    @media screen and (min-width: 1280px) {
      background-image: url(../images/contacts/contacts-1x.png);
      background-repeat: no-repeat;
      background-position-y: 102px;
      background-size: contain;
    }
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/contacts/contacts-2x.png);
  }
}
.contacts {
  @media screen and (min-width: 1280px) {
    background-image: url(../images/contacts/contacts-1x.png),
      linear-gradient(to bottom, #ffffff 0%, #fff5f6 0%);
  }
}
