.footer {
    background: $second-bg-color;
}

.footer__title {
    color: $text-title-color;
  padding-bottom: 43px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

  .footer__title>span {
      color: $text-title-color;
      font-family: Titan One;
      font-style: normal;
      font-weight: normal;
      font-size: 34px;
      line-height: 39px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
  }