.section {
  padding-top: 6px;
  position: relative;
}
.header {
  background: #ffb8ca;
}
.header-section {
  margin: 0 auto;
  height: 502px;
  width: 320px;
  position: relative;
  // display: flex;
  border-bottom: 1px solid #d41443;
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 399px;
    border-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 665px;
  }
}
.header-logo {
  width: 199px;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 37px;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 0;
    left: 36px;
  }
}
.header_navi-list {
  display: flex;
  // padding-top: 49px;
  padding-left: 230px;
  @media screen and (max-width: 479px) {
    displaay: none;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 49px;
  }
}
.header_navi-item {
  margin-right: 35px;
  // font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  align-items: center;
  color: #ffffff;
  z-index: 2;
  transition: color 300ms linear;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.header_navi-item :hover,
.header_navi-item :focus {
  color: #d41443;
}
.header-burger__button {
  background: transparent;
  border: none;
  display: block;
  margin-left: auto;
  position: absolute;
  top: 23px;
  left: 281px;
  cursor: pointer;
  transition: left 600ms linear, transform 300ms ease-in-out;
  @media screen and (min-width: 768px) {
    top: 52px;
    left: 524px;
    z-index: 3;
    transition: top 600ms linear, transform 300ms ease-in-out;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
  &:hover,
  &:focus {
    width: 34px;
    height: 24px;
    transition: 300ms linear;
  }
}
.header-menu-block {
  display: flex;
  align-items: center;
}
.header-buy-btn {
  margin: 0 auto;
  height: 44px;
  width: 160px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #d41443;
  vertical-align: center;
  padding: 12px;
  border-radius: 22px;
  background-color: #fff;
  transition: color 300ms linear;
  cursor: pointer;
  &:hover,
  &:focus {
    background: $contacts-button-hover;
  }
  // transition: color 300ms linear;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 38px;
    right: 34px;
    z-index: 2;
  }
  @media screen and (min-width: 1280px) {
    top: 42px;
    right: 125px;
  }
}

.header-btn-icon {
  // outline: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  width: 6px;
  height: 10px;
  z-index: 1;
  fill: transparent;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: $contacts-button-hover;
  }
}

.ellips {
  // outline: 2px solid red;
  position: absolute;
  margin-left: 20px;
  width: 280px;
  height: 344px;
  background-image: url(/images/hero/hero-pink-ellipse-des-2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  transition: width 800ms linear, transform 300ms ease-in-out;
  @media screen and (min-width: 450px) {
    height: 344px;
    width: 344px;
  }
  @media screen and (min-width: 768px) {
    top: 31px;
    left: 307px;
    height: 324px;
    width: 324px;
    background-image: url(/images/hero/hero-pink-ellipse-des-2x.png);
  }
  @media screen and (min-width: 1280px) {
    transition: left 800ms linear, transform 300ms ease-in-out;
    top: 52px;
    left: 475px;
    height: 538px;
    width: 538px;
    background-image: url(/images/hero/hero-pink-ellipse-des-2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}
.header-ice-cream {
  position: absolute;
  // right: calc((32 / 320) * 100%);
  left: 117px;
  bottom: 1px;
  z-index: 2;
  transition: left 500ms linear, transform 500ms ease-in-out;
  @media screen and (min-width: 768px) {
    transition: left 1000ms linear, transform 500ms ease-in-out;
    left: 378px;
  }
  @media screen and (min-width: 1280px) {
    transition: right 500ms linear, transform 500ms ease-in-out;
    left: 594px;
  }
}
.header-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(30 / 26);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(25 / 22);
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: calc(44 / 38);
    width: 300px;
  }
}
.header-title span {
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: calc(46 / 48);
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: calc(31 / 34);
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
}
.header-title-block {
  @media screen and (max-width: 767px) {
    max-width: 218px;
    padding-top: 137px;
    display: block;
    position: absolute;
    z-index: 3;
  }
  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 20px;
    max-width: 180px;
  }
  @media screen and (min-width: 1280px) {
    width: 277px;
    padding-top: 84px;
  }
}
.header-btn-item {
  display: flex;
  // &:hover,
  // &:focus {
  //   border: none;
  //   border-radius: 24px;
  //   background-color: #ECEBEB;
  // }
}
.header-btn_prod {
  width: 63px;
  height: 24px;
  border-radius: 20px;
  margin-right: 9px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);
  align-items: center;
  text-align: center;
  background-color: $text-title-color;
  // background-color: $text-title-color;
  transition: background-color 250ms linear;
  color: #ffffff;
  &:hover,
  &:focus {
    background-color: $button-second-color;
  }
  @media screen and (min-width: 1280px) {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
.header-btn_how {
  width: 83px;
  height: 24px;
  border-radius: 20px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: $text-title-color;

  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: $contacts-button-hover;
  }
  @media screen and (min-width: 1280px) {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }
  &:hover,
  &:focus {
    background: #ecebeb;
  }
}
.header-btn_block {
  position: absolute;
  top: 318px;
  z-index: 3;
  @media screen and (min-width: 768px) {
    position: relative;
    // padding-left: 34px;
    top: 0;
    padding-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 112px;
  }
}
.hero-milk {
  position: absolute;
  // left: 34px;
  left: 0;
  bottom: 28px;
  // z-index: 3;
  transition: bottom 500ms linear, transform 500ms ease-in-out;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    transition: left 1000ms linear, transform 500ms ease-in-out;
    left: 77px;
    bottom: 45px;
  }
}

.header-img-girl {
  // outline: 2px solid black;
  position: absolute;
  bottom: 0;
  left: 177px;
  max-width: 500px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    left: 288px;
  }
}
.hero-wrapper {
  position: relative;
  width: 295px;
}
.hero-text {
  // position: relative;
  display: block;
  color: white;
  width: 295px;
  font-weight: 400;
  color: #ffffff;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    padding-left: 120px;
    width: 224px;
    font-size: 8px;
    line-height: calc(12 / 8);
    color: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    font-size: 14px;
    line-height: calc(20 / 14);
    padding-left: 180px;
    width: 380px;
  }
}

.products-list__secondary-text {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 15px;
  width: 100%;
  transform: translate(-50%, -86%);
  transition: all 250ms ease-in-out;

  border-radius: 10px;
  background-color: #ffffff;
  color: $bg-color-product-third;

  &--pink {
    color: #ffa5ba;
  }

  &--hidden-hero {
    opacity: 0;
    pointer-events: none;
  }

  &--hidden-hero + .hero-arrow-btn {
    transform: rotate(0);
  }
}
.products-list__secondary-text--hidden-hero + .hero-arrow-btn {
  transform: rotate(0);
}
.hero-arrow-btn {
  // outline: 2px solid red;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url(/images/products/products-arrow.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
  height: 26px;
  width: 26px;
  transition: all 250ms ease-in-out;
    transform: rotate(-90deg);

  // &:hover,
  // &:focus {
  //   transition: all 250ms ease-in-out;
  //   transform: rotate(-90deg);
  // }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    height: 18px;
    width: 18px;
    margin-top: 7px;
    margin-left: 119px;
  }
  @media screen and (min-width: 1280px) {
    height: 26px;
    width: 26px;
    margin-top: 20px;
    margin-left: 180px;
  }
}

.header-cafetracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50px;
  height: 150px;
  position: absolute;
  top: 94px;
  right: 34px;
  align-items: center;
  margin-bottom: 13px;
  transition: right 1000ms linear, transform 500ms ease-in-out;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    // transition: width 500ms linear, transform 500ms ease-in-out;
    transition: top 1000ms linear, transform 500ms ease-in-out;
    width: 92px;
    top: 156px;
    right: 97px;
  }
}

.cafetrucks-list__item:not(:last-child) {
  margin-bottom: 14px;
}
.cafetrucks-list__text--padding {
  padding-left: 20px;
}
.cafetrucks-list__number {
  position: relative;
  color: $text-title-color;
  font-family: Titan One;
  font-style: Regular;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  z-index: 3;
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.14;
  }
}

.cafetrucks-list__text {
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.3;
  }
}
.cafetrucks-list__number::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: -1;
  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;

    right: 5px;
  }
}
