.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-subtitle {
  margin-bottom: 15px;

  font-family: Titan One;
  @include font(normal, 400, 18px, 1.17, 0.04em);
  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    @include font(normal, 400, 26px, 1.15, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    @include font(normal, 400, 30px, 1.13, 0.04em);
  }
}

.products-title {
  margin-bottom: 144px;

  font-family: Titan One;
  @include font(normal, 400, 34px, 1.15, 0.04em);
  text-transform: uppercase;
  color: $text-title-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
    @include font(normal, 400, 48px, 1.15, 0.04em);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
    @include font(normal, 400, 58px, 1.14, 0.04em);
  }
}

.products-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.products-list__item {
  position: relative;
  padding: 161px 40px 40px;
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 152px 11px 40px 11px;
    flex-basis: calc((100% / 3) - 10px);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 163px 44px 50px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 249px;
    height: 252px;
    top: -113px;
    left: 50%;
    transform: translate(-50%);
    background-size: contain;

    @media screen and (min-width: 768px) {
      top: -102px;
      width: 220px;
      height: 226px;
    }

    @media screen and (min-width: 1280px) {
      top: -211px;
      width: 335px;
      height: 335px;
    }
  }
}

.products-list__item--pink {
  background: #ffb8ca;

  &::before {
    background-image: url('/images/products/products-icecream-mob-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('/images/products/products-icecream-mob-2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('/images/products/products-icecream-tab-1x.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/products/products-icecream-tab-2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('/images/products/products-icecream-des-1x.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/products/products-icecream-des-2x.png');
      }
    }
  }
}

.products-list__item--beige {
  background: $bg-color-product-second;

  &::before {
    background-image: url('/images/products/products-coffee-mob-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('/images/products/products-coffee-mob-2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('/images/products/products-coffee-tab-1x.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/products/products-coffee-tab-2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('/images/products/products-coffee-des-1x.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/products/products-coffee-des-2x.png');
      }
    }
  }
}

.products-list__item--green {
  background: $bg-color-product-third;

  &::before {
    background-image: url('/images/products/products-milkshake-mob-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('/images/products/products-milkshake-mob-2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('/images/products/products-milkshake-tab-1x.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/products/products-milkshake-tab-2x.png');
      }
    }

    @media screen and (min-width: 1280px) {
      background-image: url('/images/products/products-milkshake-des-1x.png');
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('/images/products/products-milkshake-des-2x.png');
      }
    }
  }
}

.products-list__title {
  font-family: Titan One;
  @include font(normal, 400, 20px, 1.15, 0.04em);
  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width: 1280px) {
    @include font(normal, 400, 30px, 1.13, 0.04em);
  }

  &::after {
    content: '···';
    display: block;
    margin: 30px 0 30px 0;

    font-family: DM Sans;
    @include font(normal, 900, 32px, 0.2, 0.04em);

    @media screen and (min-width: 1280px) {
      margin: 32px 0 32px 0;
    }
  }
}

.products-list__description {
  margin-bottom: 30px;

  font-family: DM Sans;
  @include font(normal, 700, 14px, 1.52, 0.04em);

  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
    font-size: 16px;
  }
}

.products-list-button {
  display: block;
  margin: 0 auto;

  height: 40px;
  width: 40px;

  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('/images/products/products-arrow.png');
}
