.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
}

.products-subtitle {
  margin-bottom: 15px;

  font-family: Titan One;
  @include font(normal, 400, 18px, 1.17, 0.04em);
  text-transform: uppercase;
  color: #ffa5ba;
}

.products-title {
  margin-bottom: 144px;

  font-family: Titan One;
  @include font(normal, 400, 34px, 1.15, 0.04em);
  text-transform: uppercase;
  color: $text-title-color;
}

.products-list__item {
  padding: 161px 40px 40px;

  border-radius: 24px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 249px;
    height: 252px;
    top: -113px;
    left: 50%;
    transform: translate(-50%);
  }

  &:not(:last-child) {
    margin-bottom: 130px;
  }
}

.products-list__item--pink {
  position: relative;
  background: #ffb8ca;

  &::before {
    background-image: url('/images/products/products-icecream-mob-1x.png');
  }
}

.products-list__item--beige {
  position: relative;
  background: $bg-color-product-second;

  &::before {
    background-image: url('/images/products/products-coffee-mob-1x.png');
  }
}

.products-list__item--green {
  position: relative;
  background: $bg-color-product-third;

  &::before {
    background-image: url('/images/products/products-milkshake-mob-1x.png');
  }
}

.products-list__title {
  font-family: Titan One;
  @include font(normal, 400, 20px, 1.15, 0.04em);
  text-transform: uppercase;

  color: #ffffff;

  &::after {
    content: '···';
    display: block;
    margin: 30px 0 30px 0;

    font-family: DM Sans;
    @include font(normal, 900, 32px, 0.2, 0.04em);
  }
}

.products-list__description {
  margin-bottom: 30px;

  font-family: DM Sans;
  @include font(normal, 700, 14px, 1.52, 0.04em);

  color: #ffffff;
}

.products-list-button {
  display: block;
  margin: 0 auto;

  height: 40px;
  width: 40px;

  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('/images/products/products-arrow.png');
}
